---
import type { CollectionEntry } from "astro:content";
interface Props {
    article: CollectionEntry<'publications'>;
}
const { article } = Astro.props;

---
{ article.data.author.join(", ") }.
<a href={`https://doi.org/${article.data.doi}`}>{article.data.title}</a>.
<em>{article.data.journal}</em>
{article.data.year};{article.data.volume}:{article.data.pages}
